src/test/resources/my-dataset.dtd

<!ELEMENT dataset (
	one_time_password_list_batch*,
	user*,
    one_time_password_list*,
    one_time_password*
    )>
    
<!ELEMENT one_time_password_list_batch EMPTY>
<!ATTLIST one_time_password_list_batch
	id CDATA #REQUIRED
	batch_size CDATA #REQUIRED
>

<!ELEMENT user EMPTY>
<!ATTLIST user
	id CDATA #REQUIRED
	username CDATA #REQUIRED
>

<!ELEMENT one_time_password_list EMPTY>
<!ATTLIST one_time_password_list
	id CDATA #REQUIRED
	user_id CDATA #IMPLIED
	size CDATA #REQUIRED
	batch_id CDATA #IMPLIED
>

<!ELEMENT one_time_password EMPTY>
<!ATTLIST one_time_password
	id CDATA #REQUIRED
	code  CDATA #REQUIRED
	reference_index CDATA #REQUIRED
	password_list_id  CDATA #REQUIRED
>


